.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
   /* margin-top: 40px; */
   
}

.currentDayNumber {
    font-size: 90px;
    font-weight: bold;
} 

.currentDayName {
    font-size: 30px;
    font-weight: bold;

}
