.header {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}